body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background:#E7ECE8;
}

.page-header {
    position: absolute;
    width: 100%;
    height: 44px;
    top: 0;
    left: 0%;

    background: #C4C4C4;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.page-header a.left {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.page-header a:hover {
    background: #ddd;
    color: #2A4C53;
  }

.page-header a.logout{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.notification {
    list-style-type: none;
    margin: 1%;
    padding: 0;
    border: 2px solid #d30707;
    color:#d30707;
    width: 12em;
  }

.column{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 35%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

.global_container{
    position: absolute;
    top: 0; left: 0;
    width:100%; height: 100%;
}

img {
	height: 100%; 
	width: 100%; 
	object-fit: cover;
}

button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding: 0.5em 1em;
    margin-top: 15%;
}

input {
    margin: 2%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}