body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: auto;
    height: auto;
    background:#E7ECE8;
}

.page-header {
    position: absolute;
    width: 100%;
    height: 44px;
    top: 0;
    left: 0%;

    background: #C4C4C4;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}

.page-header a.left {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.page-header a:hover {
    background: #ddd;
    color: #2A4C53;
  }

.page-header a.logout{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

table {
    font-family: Roboto;
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
}

th { border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

p {
    background-color: #dddddd;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding: 1em;
}